{
    "organization": "lifespan",
    "account": "weavejZp2gbefkBnZmjmLp3Pxn8HqsWSJGJXYFYStrHfW8ykL",
    "scope": "*",

    "chainClientConfig": {
        "apiVersion" : 1,

        "seed" : "73efc892deeac3b4b16de2261825306b",
        "privateKeyFile" : "../node/config/lifespan.pvk",
        "publicKeyFile" : "../node/config/lifespan.pub",

        "http": {
            "host": "pop.weavechain.com",
            "port": 443,
            "useHttps": true
        }
    }
}